#photo-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

section {
  font-style: oblique;
  width: 100px;
  margin: 10px;
  padding: 5px
}

img {
  width: 100px;
  padding: 5px;    
}

#photo-template {
  display: none;
}

